<div class="px-6 py-4 flex flex-col border-black">
  <form class="flex flex-col mx-5 py-5 gap-y-5" [formGroup]="form">
    <div class="flex flex-col md:flex-row w-full gap-x-0 md:gap-x-5 gap-y-5 md:gap-y-0">

        <div class="p-6 bg-white rounded-2xl shadow-md border border-gray-200 space-y-6">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

            <app-custom-hour label="H. Fin" controlName="hora_fin" [form]="form" />
            <app-custom-input label="Unid/Kilos" controlName="unidad_kilos" [form]="form" />

          </div>
        </div>

        <div class="flex w-full card border border-gray-300 lg">
          <div class="flex w-full flex-col gap-y-5 p-5">
            <div class="flex w-full">Evaluacion</div>
            <div class="grid grid-cols-2 sm:grid-cols-5 gap-4">
              <app-custom-input label="Golpe" controlName="golpe" mask="number" [form]="form" />
              <app-custom-input label="Recorte" controlName="recor" [form]="form" *ngIf="userRole !== 'OPERADOR' && userRole !== 'AUXILIAR' " />
              <app-custom-select label="Peso" controlName="peso" [form]="form" [dropDownItems]="valueStatusSelect" *ngIf="userRole !== 'OPERADOR' && userRole !== 'AUXILIAR' " />
              <app-custom-select label="Vacio" controlName="vacio" [form]="form" [dropDownItems]="valueStatusSelect" *ngIf="userRole !== 'OPERADOR' && userRole !== 'REVISADOR'" />
              <app-custom-select label="D.M" controlName="dm" [form]="form" [dropDownItems]="valueStatusSelect" *ngIf="userRole !== 'OPERADOR' && userRole !== 'REVISADOR'" />
            </div>
          </div>
        </div>




    </div>
  </form>
</div>