<div class="relative w-full min-h-screen bg-gray-900 text-white">
  <!-- Imagen de fondo con opacidad -->
  <img src="assets/vid/sert.png" class="imagen-full" alt="Fondo" />



  <!-- Contenido centrado y organizado -->
  <div class="relative z-10 flex flex-col items-center justify-start px-4 py-10 gap-12">

    
    <!-- Sección 1: Maquina R145 -->
    <div class="w-full max-w-6xl text-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
        <app-custom-card
          *ngIf="userRole && ['OPERADOR', 'ADMIN', 'SUPERVISOR', 'REVISADOR', 'AUXILIAR'].includes(userRole)"
          imageUrl="assets/img/menu/activov2.png"
          content="Maquina R145"
          (click)="navigateTo('machines/R145/')" />
      </div>
    </div>

    <!-- Sección 2: Turnos -->
    <div class="w-full max-w-6xl text-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
        <app-custom-card
          *ngIf="userRole && ['ADMIN', 'SUPERVISOR'].includes(userRole)"
          imageUrl="assets/img/menu/crmv2.png"
          content="Turnos"
          (click)="navigateTo('management/shifts')" />

          <app-custom-card
          *ngIf="userRole === 'SUPERVISOR'"
          imageUrl="assets/img/menu/programar.png"
          content="Programar Turnos"
          (click)="navigateTo('management/shifts-work')" />

        <app-custom-card
          *ngIf="userRole === 'SUPERVISOR'"
          imageUrl="assets/img/menu/turnos.png"
          content="Asig de Turnos"
          (click)="navigateTo('management/shifts-assignments')" />

      </div>
    </div>

    <!-- Sección 3: Configuración y Productos -->
    <div class="w-full max-w-6xl text-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
        <app-custom-card
          *ngIf="userRole === 'ADMIN'"
          imageUrl="assets/img/menu/configv2.png"
          content="Configuración"
          (click)="navigateTo('management/dashboard')" />
        
        <app-custom-card
          *ngIf="userRole && ['ADMIN', 'SUPERVISOR'].includes(userRole)"
          imageUrl="assets/img/menu/order.png"
          content="Productos"
          (click)="navigateTo('management/products')" />
      </div>
    </div>

    <!-- Sección 4: Programación de turnos (solo supervisor) -->
    <div class="w-full max-w-6xl text-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">


        <app-custom-card
          *ngIf="userRole === 'SUPERVISOR'"
          imageUrl="assets/img/menu/lista-corta.png"
          content="Lista de Usuarios"
          (click)="navigateTo('management/profiles')" />
      </div>
    </div>

  </div>
</div>
