<div class="px-6 py-4 flex flex-col border-black">
  <form class="flex flex-col mx-5 py-5 gap-y-5" [formGroup]="form">
    <div class="flex flex-col md:flex-row w-full gap-x-0 md:gap-x-5 gap-y-5 md:gap-y-0">

      <div class="w-full max-w-6xl mx-auto flex flex-col gap-6">
        <!-- Card principal -->
        <div class="p-6 bg-white rounded-2xl shadow-md border border-gray-200 space-y-6">
          
          <!-- Código y Fecha -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <app-custom-input label="Código de Registro" controlName="code" [form]="form" />
            <app-custom-date-input label="Fecha" controlName="fecha" [form]="form" />
          </div>

          <!-- Producto, Turno, Máquina -->
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <app-custom-input-modal
              label="Producto"
              controlName="productoName"
              [form]="form"
              [modal]="ProductModalComponent"
              (getModalResult)="onProductModalResult($event)" />

            <app-custom-input label="Turno" controlName="turnoName" [form]="form" />

            <app-custom-select label="Maquina" controlName="maquina" [form]="form" [dropDownItems]="machineR145TypeEnum" />

          </div>

          <!-- Hora de inicio -->
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <app-custom-hour label="H. Inicio" controlName="hora_inicio" [form]="form" />
          </div>
        </div>

        <!-- Observaciones -->
        <div class="p-6 bg-white rounded-2xl shadow-md border border-gray-200">
          <app-custom-textarea
            label="Observación"
            controlName="observaciones"
            [form]="form"
            [rows]="10" />
        </div>
      </div>


      <div class="w-full md:w-1/2 flex flex-col gap-y-5">

        <div class="flex w-full card border border-gray-300 lg">
          <div class="flex w-full flex-col gap-y-5 p-5">
            <div class="flex w-full">Lote</div>

            <app-custom-input
              [label]="tipo === 'CRUDO' ? 'Año Actual' : 'Año'"
              controlName="lote_anio"
              [form]="form" />

            <app-custom-input
              [label]="tipo === 'CRUDO' ? 'Mes Actual' : 'Semana'"
              controlName="lote_sem"
              [form]="form" />

            <app-custom-input
              [label]="tipo === 'CRUDO' ? 'Día Actual' : 'D.y M.E.'"
              controlName="lote_dme"
              [form]="form" />
          </div>
        </div>


        <div class="flex w-full card border border-gray-300 lg">
          <div class="flex w-full flex-col gap-y-5 p-5">
            <div class="flex w-full">Extension</div>
            <app-custom-input label="Dia" controlName="extension_dia" [form]="form" />
            <app-custom-input label="D.y M.P." controlName="extension_dmp" [form]="form" />
            <app-custom-hour label="Hora" controlName="extension_hora" [form]="form" />
          </div>
        </div>

        <div class="flex w-full card border border-gray-300 lg">
          <div class="flex w-full flex-col gap-y-5 p-5">
            <div class="flex w-full">Fecha de Vencimiento</div>
            <app-custom-date-input label="Vencimiento" controlName="vencimiento" [form]="form" />
          </div>
        </div>

      </div>

    </div>
  </form>
</div>
