<div
  class="flex w-full"
  [class.pointer-events-none]="disabled()"
  [class.opacity-70]="disabled()"
  [class]="inputClass()">
  <mat-form-field class="flex w-full" subscriptSizing="dynamic" [formGroup]="form()">
    @if (label()) {
      <mat-label class="select-none" [class]="disabled() ? 'pointer-events-none' : ''">
        {{ label() }}
      </mat-label>
    }
  <textarea
    matInput
    cdkTextareaAutosize
    [cdkAutosizeMinRows]="5"
    [cdkAutosizeMaxRows]="10"
    class="text-sm resize-none"
    [formControlName]="formControlName()"
    [attr.maxLength]="maxLength()"
    [placeholder]="placeHolder() ?? ''"></textarea>

  </mat-form-field>
</div>
