<div
  class="flex w-full"
  [class.pointer-events-none]="disabled() || readonly()"
  [class.opacity-70]="disabled() || readonly()"
  [class]="inputClass()">
  <mat-form-field class="flex w-full" subscriptSizing="dynamic" [formGroup]="form()">
    @if (label()) {
      <mat-label class="select-none" [class]="disabled() ? 'pointer-events-none' : ''">
        {{ label() }}
      </mat-label>
    }
    <input
      #inputRef
      matInput
      [formControlName]="formControlName()"
      [readonly]="readonly()"
      [disabled]="disabled()"
      [placeholder]="placeholder()" />
  </mat-form-field>
</div>
